<?xml version="1.0" encoding="UTF-8" ?>
<!-- /jspstudy2/src/main/java/model/mapper/mybatis-config.xml -->
<!-- xml 주석 -일반적인 text 파일 -<?xml version="1.0" encoding="UTF-8" ?>로 시작 -!DOCTYPE 
	: 문서 타입 지정? -configuration : configuration부터 시작 -PUBLIC(공통) or system(개인?) 
	- - : 개인적인 파일이라는 뜻 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="model/mapper/mybatis.properties" /> <!-- 여기서 등록 한 값들을 사용한다는 뜻 -->
	<!-- Connection 객체 -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" /> <!-- DB가 transaction을 관리한다는 뜻 -->
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- sql 구문을 가진 파일 목록 -->
	<mappers>
	<!-- model.mapper 패키지의 인터페이스들을 sql 구문으로 등록 -->
	 <package name="model.mapper"/>
	</mappers>
</configuration>