@charset "UTF-8";

#contents {
	margin-top: 65px;
	padding: 15px 40px 15px 40px;
}

.center {
	text-align: center;
}

.mg10 {
	margin: 10px 0px 10px 0px !important;
}

.h3Txt {
	padding: 15px 0px 20px 0px;
	font-size: 30px;
	color: #111;
	list-style: none;
}

.h5Txt {
	padding: 15px 0px 0px 0px;
	margin: 0;
	font-size: 20px;
	color: #111;
}

.logoimg {
	width: 50px
}

dl dd ul li {
	width: 180px;
	height: 204px;
	float: left;
	margin: 0 0 30px 30px;
}

.tbl {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
}

;
.tbl td, .tbl tr, .tbl th {
	border: 1px solid black;
	border-collapse: collapse;
}

;
.w3-panel1 {
	padding: 0.01em 0
}

.w3-padding-1 {
	padding-bottom: 32px !important;
}

#main_div {
	padding-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
}

.w3-input {
	padding: 8px;
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 70%;
}


.goodsimg {
	width: 200px;
	height: 200px;
}

.goodsdiv {
	width: 250px;
	height: 300px;
}

.goods {
	width: 50px;
	height: 50px;
}

/*===================================*/
#container-1 {
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 200px;
	padding-bottom: 200px;
}

#list-1 {
	width: 100%;
	height: 300px;
	border-bottom-style: solid;
	border-bottom-color: black;
}

#list-1 dl dd ul {
	list-style: none;
}

#profileimg {
	width: 180px;
	height: 360px;
}
#list-1 dl dd ul li a {
    overflow: hidden;
    width: 180px;
    height: 204px;
    border: 1px solid #fff;
    display: block;
    position: relative;
}

#list-1 dl dd ul li a .bg_name {
    width: 180px;
    height: 38px;
    filter: alpha(opacity=80);
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 166px;
    left: 0;
    opacity: 0.80;
}



#list-1 dl dd ul li {
    width: 180px;
    height: 204px;
    float: left;
    margin: 0 0 30px 30px;
    background-color: #f5f5f5;
}

#list-1 dl dd ul li a em {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffe36d;
    font-family: "Nanum Gothic Bold";
    display: inline-block;
}

#list dl dd ul li a strong {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    display: inline-block;
}
